<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug ="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} {$thread} %-5level logger{35} - %msg %n</pattern>
        </encoder>
    </appender>


    <property name="FORECAST_LOG_FILE" value="Forecast.log" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FORECAST_LOG_FILE}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>

        <!-- rollover daily -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FORECAST_LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.accenture.weatherForecastWebsite.version2.controller" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.accenture.weatherForecastWebsite.version2.service.Logic.UpdateCity" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.accenture.weatherForecastWebsite.version2.service.Logic.AddNewCity" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="com.accenture.weatherForecastWebsite.version2.service.Logic.ForecastService" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.accenture.weatherForecastWebsite.version2.configurations.Scheduler" level ="trace" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>


    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>

