<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <form class="form-inline my-2 my-lg-0" th:action="@{/searchLocation}" method="get" >
        <input type="text" name="location" id="location" th:value="${location}"
               class="form-control mr-sm-2" placeholder="City, Country">
        <button class="btn-light" type="submit">Search</button>
    </form>
</header>

<div th:if="${not #lists.isEmpty(forecast)}">
    <table class="table table-hover">
        <tr>
            <th scope="col">City name</th>
            <th scope="col">Main Weather</th>
            <th scope="col">Clouds</th>
        </tr>
        <tr th:each="forecast: ${forecast}">
            <td th:text="${forecast.cityName}"/>
            <td th:text="${forecast.mainWeather}"/>
            <td th:text="${forecast.clouds}"/>
        </tr>
    </table>
</div>
<div th:unless="${not #lists.isEmpty(forecast)}">
    <p>Sorry no location</p>
</div>

</body>
</html>